.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

assets/files/*
!assets/files/users
assets/files/users/*
!assets/files/users/default

.settings/*
application/models/proxies/*.php

user_guide/*
