.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

assets/files/users/default/*
!assets/files/users/default/no-photo.jpg
assets/files/users/default/cropped/*
!assets/files/users/default/cropped/no-photo.jpg*
.settings/*
application/models/proxies/*.php

user_guide/*
