@CHARSET "UTF-8";


span.loading-username, span.check-password, span.check-password-verify {
    left: -8px;
    position: relative;
    top: -36px;
}

.register-input {
	padding-right: 35px;
}

.content {
    margin-top: 30px;
}